/* Tipografia Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");
@font-face {
  font-family: 'Morganite';
  src: url("../fonts/Morganite-SemiBold.woff") format("woff"), url("../fonts/Morganite-SemiBold.woff2") format("woff2");
}

h1 {
  font-size: 144px;
  font-family: 'Morganite';
}

h1:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

h2 {
  font-size: 92px;
  font-family: "Morganite";
}

h2:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

h3 {
  font-size: 24px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  line-height: 28px;
}

h5 {
  font-size: 70px;
  font-family: "Morganite";
}

h5:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

p {
  font-size: 18px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
}

#button {
  font-size: 14px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  color: white;
}

#btnIII {
  font-size: 14px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  color: white;
}

#btnII {
  font-size: 36px;
  font-family: "Morganite";
  letter-spacing: 6px;
}

#btnII:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.menu {
  font-size: 13px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

#autor {
  font-size: 12px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
}

#fecha {
  font-size: 10px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
}

#formulario {
  font-size: 11px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  color: white;
}

#formul2 {
  font-size: 36px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  color: white;
  margin-bottom: 17px;
  margin-top: 113px;
}

#footer {
  font-size: 10px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  color: white;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
}

/* Nav/Menu */
.men {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes .icon {
  margin-bottom: 21px;
}

.redes .icon .facebook {
  fill: #000;
}

.redes .icon .facebook:hover {
  fill: #999;
}

.redes .icon .twitter {
  fill: #000;
}

.redes .icon .twitter:hover {
  fill: #999;
}

.redes .icon .insta {
  margin: 0 25px;
  fill: #000;
}

.redes .icon .insta:hover {
  fill: #999;
}

#button {
  background-color: black;
  border-color: black;
  width: 90px;
  height: 43px;
  margin-bottom: 44px;
}

#button:hover {
  background-color: white;
  color: black;
}

.logo {
  margin-left: 50px;
  height: 246px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .menu {
  margin-left: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .menu a {
  text-align: center;
}

.item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-1:hover {
  text-decoration: underline;
}

.item-1 #zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.item-2 {
  margin-left: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-2:hover {
  text-decoration: underline;
}

.item-2 #contra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.item-3 {
  margin-left: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-3:hover {
  text-decoration: underline;
}

.item-3 #plano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

/* Grid */
.grid {
  display: -ms-grid;
  display: grid;
  padding: 30px 50px 0;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
}

.grid .portada {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  height: 743px;
  position: relative;
}

.grid .portada img {
  position: absolute;
  height: 743px;
  width: 100%;
}

.grid .portada #btnII {
  position: absolute;
  color: white;
  margin-left: 143px;
  margin-top: 57px;
}

.grid .portada h1 {
  position: absolute;
  color: white;
  margin-left: 143px;
  margin-top: 120px;
  width: 499px;
}

.grid .entradilla {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  height: 200px;
  margin-top: 65px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid .entradilla #fecha {
  margin-top: 10px;
}

.grid .entradilla .entradilla-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 2887px;
}

.grid .articulo-largo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  height: 434px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid .articulo-largo #largo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.grid .articulo-largo img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  height: 434px;
}

.grid .articulo-largo #autor {
  margin-top: 4px;
}

.grid .articulo-largo #fecha {
  margin-top: 10px;
}

.grid .articulo-largo h4 {
  margin-top: 31px;
}

.grid .articulo-largo h2 {
  width: 550px;
}

.grid .articulo-corto {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  height: 404px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid .articulo-corto .corto-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.grid .articulo-corto .corto-texto h2 {
  width: 364px;
}

.grid .articulo-corto .corto-texto #autor {
  margin-top: 29px;
}

.grid .articulo-corto .corto-texto #fecha {
  margin-top: 10px;
}

.grid .articulo-corto .corto-texto h4 {
  position: absolute;
  margin-top: 269px;
  margin-left: -432px;
  width: 920px;
}

.grid .articulo-corto img {
  height: 250px;
  position: relative;
}

.grid .articulo-corto .publi {
  height: 452px;
  margin-left: 200px;
  border: 13px solid #eaeaea;
}

.grid .articulos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  margin-top: 60px;
  height: 462px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid .articulos #autor {
  margin-top: 10px;
}

.grid .articulos #fecha {
  margin-top: 5px;
}

.grid .articulos img {
  height: 200px;
  width: 400px;
}

.grid .articulos .art-uno h5 {
  width: 353px;
}

.grid .articulos .art-dos h5 {
  width: 353px;
}

.grid .articulos .art-tres h5 {
  width: 454px;
}

.grid .formulario {
  background-color: black;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  margin-top: 180px;
  height: 412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid .formulario .textform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.grid .formulario .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 113px;
}

.grid .formulario .form .input_text {
  height: 26px;
}

.grid .formulario .form .for-name {
  margin-bottom: 20px;
}

.grid .formulario .form .for-mail {
  margin-bottom: 20px;
  margin-top: 20px;
}

.grid .red {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  text-align: center;
  margin-top: 61px;
}

.grid .red .reds {
  margin-top: 15px;
}

.grid .red .reds .twitter {
  fill: black;
}

.grid .red .reds .twitter:hover {
  fill: #666;
}

.grid .red .reds .insta {
  fill: black;
  margin: 0 43px;
}

.grid .red .reds .insta:hover {
  fill: #666;
}

.grid .red .reds .face {
  fill: black;
}

.grid .red .reds .face:hover {
  fill: #666;
}

#btnIII {
  background-color: black;
  border-color: white;
  width: 90px;
  height: 43px;
  margin-bottom: 44px;
  margin-top: 30px;
  margin-left: 150px;
}

#btnIII:hover {
  background-color: white;
  color: black;
}

.footer {
  height: 44px;
  width: 1518px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}
/*# sourceMappingURL=style.css.map */